


div { border: 20px solid transparent;
    border-image: url(Header\ kukat.png) 30 stretch ;}





   
   
body {
  
  background-image: url(Header\ kukat.png);
  background-color: #FFC2D4;
  height: 100%;
     
      background-repeat: repeat-x;
      background-size: 980px;
 background-position: top-center;
    }

.kukka{
  max-width: 300px;
   


}

nav{  text-align:center;}
nav a{
  flex-direction: row;
  margin: 5.5rem;
 
  color:rgb(250, 250, 250);
  text-decoration: none;
  font-weight: 700;
  transition: opacity 0.2s ease;

  gap: 0;
  justify-content: space-between;
 

}

h1 {
margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items:center;
font-size: 650%;
}
h1 {text-align:center;
}